.order-detail-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#card{
    width: 285px;
    height: 238px;
    background-color: rgb(41, 41, 41);
    border-radius: 0 .5rem .5rem 0;
    
}

.order-detail-img {
    width: 155px;
    height: 238px;
    object-fit: cover;
    border-radius: .5rem 0 0 .5rem;
}

.menu-item-click{
  cursor: pointer;
}

.feature{

    float: left;
    margin:14px 5px 15px 17px;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    height: 16px;
    border-radius: .2rem;
    display: flex;

    justify-content: center;
    align-items: center;
    
}

.feature p{
   
    color:#ffc83d;  
    font-family: poppins, Arial, Helvetica, sans-serif;    
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: .1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.prepare-btn {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid #cda45e;
  margin: 16px 0px 7px 1px;
  float: right;
}

.cuisine{

    
    margin: 15px 12px 15px 5px;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    height: 16px;
    width: 16px;
    border-radius: .2rem;
    display: flex;
 
    justify-content: center;
    align-items: center;
}

.cuisine2{
    margin: 7px 9px 13px 71px;
    cursor: pointer;
    padding: 10px;
    height: 16px;
    width: 16px;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}


.order-detail-dish{
    margin: -19px 25px -30px 20px;
    float: left;
}

.item-name{
    margin: 2px 18px;
    font-size: 1.4rem;
    font-family: poppins,Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;

}

.rating{

    float: left;
    margin: 0px 25px 0px 20px;
    height: 19px;
    
}
.rating p{
    
color: rgb(255, 255, 255);
font-family: open-sans, Arial, Helvetica, sans-serif;
}

.checked {
    color: orange;
  }
  
  
.description{
    margin: 5px 20px 0px 20px;    
    float: left;
  }
  .description p {

    font-size: .95rem;
    color: rgb(163, 163, 163);
    font-family: open-sans, Arial, Helvetica, sans-serif;
    line-height: 1.1rem;
  }

  .amount{
      float: left;
      margin: 2px 18px;
  }

  .amount h3{

    color:#ffc83d; 
    font-family: poppins,Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: .05rem;

 }

 .cta button{
    position: relative;
    margin: -3px 7px 6px 154px;
    background-color:#ffc83d;
    border: 1px solid #ffc83d;
    color: #292929;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: .2rem;
    
    font-family: poppins,Arial, Helvetica, sans-serif ;
    font-weight: 600;
    transition-duration: 0.4s;
   cursor:pointer;
 }
 .cta button:hover {
    background-color: #292929;
    border: 1px solid #ffc83d; ;
    color: #ffc83d;
  }

 body{
     background-color: rgb(224, 224, 224);
 }

 .invalid-route{
  text-align: center;
    font-size: x-large;
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
 }

 .modal {
    backdrop-filter: blur(5px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
    perspective: 1000px; /* Add perspective for 3D effect */
    transform: translateZ(50px); /* Move the modal forward in 3D space */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadows for depth */
  }
  
  .modal-content {
    background: transparent;
    border-radius: 5px;
    border: azure;
   
  }
  .buttons {
    display: flex; /* Display the buttons in a single row */
    justify-content: space-between; /* Space the buttons apart horizontally */
    margin-top: 20px;
  }
  
  .buttons button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Allow the buttons to share the available space equally */
    margin-right: 10px; /* Add a small margin between buttons */
  }

  


  .quantity-input {
    position: relative;
    top: 2px;
    right: 10px;
    align-items: center;
  }
  
  .quantity-input button {
    padding: 0px 7px;
    margin: 0 1px;
    cursor: pointer;
    background-color: #ffc83d;
    color: #292424;
    border: none;
    border-radius: 4px;
  }
  
  .quantity-input input {
    height: 27px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    width: 30px; /* Adjust the width as needed */
  }

  .table{
    max-width: fit-content;
    margin: 11px 0px 0px 15px;
    max-height: 35px;
    width: auto;
  }
  
  .itemgst {
    display: flex;
    position: relative;
    font-family: sans-serif;
    font-size: small;
    /* font-weight: 500; */
    color: #d49b3b;
   
  }
  
  
  @media only screen and (max-width: 600px) {
    .order-detail-container{
        margin: 0 auto;
        display: block;
        justify-content: center;
        align-items: center;
    
    }

    #card {
        
        width: 285px;
        height: 238px;
        background-color: rgb(41, 41, 41);
        border-radius: 0rem 0rem 0.5rem 0.5rem;

    }

    .order-detail-img {
        width: 283px;
        height: 228px;
        object-fit: cover;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }
  
    .cuisine2{
        cursor: pointer;
        margin: -222px -21px 35px 71px;
        padding: 10px;
        height: 16px;
        width: 16px;
        border-radius: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
    }
    .cta button{
        position: relative;
        margin:   7px 1px -6px 87px;
        background-color:#ffc83d;
        border: 1px solid #ffc83d;
        color: #292929;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: .2rem;
        
        font-family: poppins,Arial, Helvetica, sans-serif ;
        font-weight: 600;
        transition-duration: 0.4s;
       cursor:pointer;
     }

     .itemgst {
      display: flex;
      position: relative;
      font-family: sans-serif;
      font-size: small;
      /* font-weight: 500; */
      color: #d49b3b;
     justify-content: center;
    }
 
  }

  .vew-course{
    color: #cda45e  !important;
    display: none !important;
  }
  .Menu-row{
    display: flex; 
    flex-direction: row;
  }

  @media screen and (max-width: 750px) {
    .Menu-row{
      display: flex; 
      flex-direction: column;
    }
  }
  .header-align{
    display: flex;  
    text-align: center;

  }
  .align{
    text-align: left;
  }
 
  @media screen and (max-width: 510px) {
    .header-align{
      display: block;  text-align: center
    }
    .align{
      text-align: center;
    }
   
  }
  .shine-text {
    font-size: 50px;
    font-weight: bold;
    color: transparent;
    text-align: center;
    background: linear-gradient(45deg, #ffc83d, #3333ff);
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 1s infinite alternate;
}

.section-title h2::after {
  width: 0px;
}
@keyframes shine {
    0% { color: #fff; text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #ffc83d, 0 0 14px #ffc83d, 0 0 16px #ffc83d, 0 0 20px #ffc83d, 0 0 30px #ffc83d; }
    100% { color: #fff; text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffc83d, 0 0 7px #ffc83d, 0 0 8px #ffc83d, 0 0 10px #ffc83d, 0 0 15px #ffc83d; }
}

.height-adjust{
  height: fit-content !important;
}