<div class="popup " *ngIf="isVisible">
    <div class="popup-content "  >
      <h2>Add Payment</h2>
      <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <label class="label-display">
          payment Type:
          <select formControlName="payment_type" required>
            <option value="PhonePay" [selected]="true">PhonePay</option>
            <option value="GPay">GPay</option>
            <option value="Paytm">Paytm</option>
            <option value="Cash">Cash</option>
            <option value="CreditCard">CreditCard</option>
            <option value="Other">Other</option>
          </select>
        </label>
          <label class="label-display">
            Company Name:
            <input type="text" formControlName="company_name" required>
          </label>
          <label class="label-display">
            Amount:
            <input type="number" formControlName="amount" required>
          </label>
          <label class="label-display">
            Payment Date:
            <input type="date" formControlName="payment_date" [(ngModel)]="todayDate"  required>
          </label>
        <label class="label-display">
            Use Month:
            <select formControlName="month" required>
              <option value="" disabled>Select month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </label>
        <label class="label-display">
          Use Year:
          <input type="number" formControlName="year" required>
        </label>
        <div class="button-group">
          <button type="submit" [disabled]="!adminForm.valid"(click)="onSubmit()" >Submit</button>
          <button type="button" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>