<div  *ngIf="cartDataList.length > 0" class="summary_card"  style="overflow: auto;">
  <div *ngFor="let cartData of cartDataList">
    <div class="card_item" >
      <div class="product_img">
        <img [src]="cartData.imagePath"  class="menu-img" alt="">
      </div>
      <div class="product_info">
        <h1>{{cartData.name}}</h1>
        <p>{{cartData.description}}</p>
        <div class="close-btn" (click) = "removeItem(cartData)">
         x
        </div>
        <div class="product_rate_info info-width" >
          <h1><span>&#8377; {{cartData.totalCartCost | number:'1.2-2'}}</span></h1>
          <span class="pqt-minus"(click) = "decrement(cartData)">-</span>
          <span class="pqt"> {{cartData.quantity}}</span>
          <span class="pqt-plus" (click) = "increment(cartData)">+</span>
        </div>
      </div>
    </div>
    <hr/>
  </div>
  <hr />

</div>
<div  class="summary_card"  style="overflow: auto;" *ngIf="cartDataList.length == 0" >
 
  <div class="order_price no-items-cart">
    <div >
    <p> Add your items </p>
    </div>
    <div >
      <button class="prepare-btn" (click)="navigateToMenu('menu')"> Menu </button>
  </div>
  </div>


</div>
  <div>
    <div class="order_price">
      <p>Order summary</p>
      <h4><span>&#8377;{{orderAmount | number:'1.2-2'}}</span></h4>
    </div>
    <div class="order_service">
      <p>Additional Service</p>
      <h4><span>&#8377;{{additionAmount | number:'1.2-2'}}</span></h4>
    </div>
    <div class="order_total">
      <p>Total Amount</p>
      <h4><span>&#8377;{{totalAmount  | number:'1.2-2'}}</span></h4>
    </div>
</div>

<div *ngIf="!orderButtonDisabled">
    <button class="prepare-btn" (click) = "sentOrder()"> Order </button>
</div>