<div class="summary_card"  style="overflow: auto;">
    <div class="card_item">
      <div class="product_img">
        <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
      </div>
      <div class="product_info">
        <h1>Nike Shoes</h1>
        <p>Lorem Ipsum is simply dummy text.</p>
        <div class="close-btn">
         x
        </div>
        <div class="product_rate_info">
          <h1>$ 200</h1>
          <span class="pqt-minus">-</span>
          <span class="pqt">1</span>
          <span class="pqt-plus">+</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="card_item">
        <div class="product_img">
          <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
        </div>
        <div class="product_info">
          <h1>Nike Shoes</h1>
          <p>Lorem Ipsum is simply dummy text.</p>
          <div class="close-btn">
            <i class="fa fa-close"></i>
          </div>
          <div class="product_rate_info">
            <h1>$ 200</h1>
            <span class="pqt-minus">-</span>
            <span class="pqt">1</span>
            <span class="pqt-plus">+</span>
          </div>
        </div>
      </div>
      <hr />
      <div class="card_item">
        <div class="product_img">
          <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
        </div>
        <div class="product_info">
          <h1>Nike Shoes</h1>
          <p>Lorem Ipsum is simply dummy text.</p>
          <div class="close-btn">
            x
           </div>
          <div class="product_rate_info">
            <h1>$ 200</h1>
            <span class="pqt-minus">-</span>
            <span class="pqt">1</span>
            <span class="pqt-plus">+</span>
          </div>
        </div>
      </div>
      <div class="card_item">
        <div class="product_img">
          <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
        </div>
        <div class="product_info">
          <h1>Nike Shoes</h1>
          <p>Lorem Ipsum is simply dummy text.</p>
          <div class="close-btn">
            x
           </div>
          <div class="product_rate_info">
            <h1>$ 200</h1>
            <span class="pqt-minus">-</span>
            <span class="pqt">1</span>
            <span class="pqt-plus">+</span>
          </div>
        </div>
      </div>
      <div class="card_item">
        <div class="product_img">
          <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
        </div>
        <div class="product_info">
          <h1>Nike Shoes</h1>
          <p>Lorem Ipsum is simply dummy text.</p>
          <div class="close-btn">
            <i class="fa fa-close"></i>
          </div>
          <div class="product_rate_info">
            <h1>$ 200</h1>
            <span class="pqt-minus">-</span>
            <span class="pqt">1</span>
            <span class="pqt-plus">+</span>
          </div>
        </div>
      </div>
      <div class="card_item">
        <div class="product_img">
          <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
        </div>
        <div class="product_info">
          <h1>Nike Shoes</h1>
          <p>Lorem Ipsum is simply dummy text.</p>
          <div class="close-btn">
            x
           </div>
          <div class="product_rate_info">
            <h1>$ 200</h1>
            <span class="pqt-minus">-</span>
            <span class="pqt">1</span>
            <span class="pqt-plus">+</span>
          </div>
        </div>
      </div>
      <div class="card_item">
        <div class="product_img">
          <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
        </div>
        <div class="product_info">
          <h1>Nike Shoes</h1>
          <p>Lorem Ipsum is simply dummy text.</p>
          <div class="close-btn">
            <i class="fa fa-close"></i>
          </div>
          <div class="product_rate_info">
            <h1>$ 200</h1>
            <span class="pqt-minus">-</span>
            <span class="pqt">1</span>
            <span class="pqt-plus">+</span>
          </div>
        </div>
      </div>
    <div class="card_item">
      <div class="product_img">
        <img class = "order-detail-img" src="assets/img/menu/lobster-bisque.jpg" alt="vegan">
      </div>
      <div class="product_info">
        <h1>Amazon Prime</h1>
        <p>Lorem Ipsum is simply dummy text.</p>
        <div class="close-btn">
          <i class="fa fa-close"></i>
        </div>
        <div class="product_rate_info">
          <h1>$ 160</h1>
          <span class="pqt-minus">-</span>
          <span class="pqt">1</span>
          <span class="pqt-plus">+</span>
        </div>
      </div>
    </div>
    
 
  </div>
  <hr />
  <div>
    <div class="order_price">
      <p>Order summary</p>
      <h4>$400</h4>
    </div>
    <div class="order_service">
      <p>Additional Service</p>
      <h4>$10</h4>
    </div>
    <div class="order_total">
      <p>Total Amount</p>
      <h4>$370</h4>
    </div>
</div>

<div>
    <a class="prepare-btn"> Order </a>
</div>