

.expanded {
  max-height: 1000px !important; /* Set the max height you want when expanded */
}




.example-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #000000;
}



.right-modal {
  overflow: scroll;
  z-index: 141;
  opacity: 0;
  transform: translateX(100%); /* Start off-screen to the right */
  position: fixed;
  top: 0;
  right: 0; /* Adjust right property instead of left for right-side positioning */
  height: 100%;
  width: 60%; /* Adjust width as needed */
  background-color: #060504;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  perspective: 1000px; /* Add perspective for 3D effect */
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; 
  z-index: 9999;
}
.right-modal.show {
      
  opacity: 1;
transform: translateX(0);

}

::ng-deep body.right-modal-open {
  overflow: hidden !important;
}



.backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the desired opacity */

  opacity: 0;
  pointer-events: none; /* Make the backdrop non-clickable by default */
  transition: opacity 0.3s ease; /* Add a transition for a smooth effect */
}

.backdrop.show {
  backdrop-filter: blur(5px); 
  opacity: 1;
  pointer-events: auto; /* Make the backdrop clickable when the modal is open */
}




.expand_border{
  display: grid;
  border-radius: 30px;
    background: #cda45ef0;
    margin: 0.1em;
    align-items: center;
    margin-bottom: 1.0em;
}

.order-container{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.expand-container{

  align-items: center;
  border-radius: 30px;
  padding: 0px 20px;
  background: #0b0c0c;
  height: 4em;
  margin: 1em;
  align-content: center;
  display: flex;
  justify-content: space-between;
}
.table-num {
  margin: auto;
  font-family: sans-serif !important;
    font-size: x-large;
    font-size: x-large;
    color: #ffffff;
    font-weight: bolder;
}

.modal {
    backdrop-filter: blur(5px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
    perspective: 1000px; /* Add perspective for 3D effect */
    transform: translateZ(50px); /* Move the modal forward in 3D space */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadows for depth */
  }
  
  .modal-content {
    background: transparent;
    border-radius: 5px;
    border: azure;
   
  }
  .item-list {
    width: 100%;
    height: auto;
    max-height: 160px; /* Set a maximum height */
    overflow-y: auto; /* Add a vertical scroll bar when content exceeds the maximum height */
    margin-bottom: 10px; /* Add some space below the item list */
  }
  .cost, .additional, .total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .cost span, .additional span, .total span {
    font-weight: bold;
  }
  

  .test{
    height: 14em;
    width: 43%;
    align-self: center;
    background: white;
    color: black;
  }
  .card-container {
    overflow: overlay;
    color: #cda45e;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly; /* Cards will be auto-arranged with space between them */
  }
  
  .card {
    font-family: sans-serif !important;
    background-color: #4e3629;
    color: #fff;
    border-radius: 10px;
    width: 348px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .table {
    padding: 0px 12px 1px 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
    text-align: -webkit-center;
    background: #11100e;
  }

  button:disabled,
  button[disabled]{
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed !important;
  }
  
  .circle {
    background-color: #d49b3b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .content {
    flex: 1;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  .refresh{

  }
  
  .buttons {
    display: flex; /* Display the buttons in a single row */
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
  }
  
  .buttons button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Allow the buttons to share the available space equally */
  }

  


  .tabs {
    padding: 0px 0px 0px 9px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
  }
  
  .tab {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;

  }
  .sticky-tabs {
    padding: 0.5em 0em;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 69.1px;
    width: 100%;
    z-index: 992;
    transition: all 0.5s;
  }
  
  .tab.active {
    background-color: #d49b3b;
    color: #000;
  }
  
  .tab-content {
    margin-top: 10px;
    overflow: hidden;
    transition: margin-left 0.3s;
  }
  
  .tab-pane {
    width: 100%;
    float: left;
  }
  
  .tab-btn {

    border: 2px solid #cda45e;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    text-align: center;
  }

.done-css{
  background: #1bb914;
  color: black;
}

.status-done {
  background: #1bb914;
  color: black;
}

.status-pending {
  background: #e8bb08;
  color: black;
}

.status-cancel {
  background: #e80e0e;
  color: black;
}


  /* loading-spinner.component.css */
// .spinner-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 10000; /* Ensure it's above other content */
//   backdrop-filter: blur(10px); 
// }

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #d49b3b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


  @media screen and (max-width: 768px) {
    .card-container {
      width: -webkit-fill-available;
    }
    .card {
      width: 100%;
      max-width: 340px;
      margin: 0 auto;
    }
  
    .refresh{
      flex-direction: column !important;
    }
  }

    @media screen and (max-width: 992px) {

    .sticky-tabs {
    padding: 0.5em 0em;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 58.2px;
    width: 100%;
    z-index: 992;
    transition: all 0.5s;

  }
  
  
.right-modal {
  overflow: scroll;
  z-index: 141;
  opacity: 0;
  transform: translateX(100%); /* Start off-screen to the right */
  position: fixed;
  top: 0;
  right: 0; /* Adjust right property instead of left for right-side positioning */
  height: 100%;
  width: 100%; /* Adjust width as needed */
  background-color: #060504;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  perspective: 1000px; /* Add perspective for 3D effect */
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; 
  z-index: 9999;
}

    
    }
    
    .main-content {
      padding: 20px;
    }
    
    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      backdrop-filter: blur(5px);
      z-index: 120000 !important;
      justify-content: center;
      align-items: center;
    }
    
    .popup-content {
      background: #fff;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
    }


    .custom-input {
      padding: 5px;
      border: 1px solid #ccc;
    }
    
    .custom-dropdown {
      list-style-type: none;
      padding: 0;
      display: none;
      border: 1px solid #ccc;
    }
    
    .custom-option {
      cursor: pointer;
    }
    
    .custom-dropdown.active {
      display: block;
    }

    .my-dropdown {
      list-style-type: none;
      padding: 0;
   
      border: 1px solid #ccc;
      background-color: #fff; /* Add background color here */
    }
    
    .my-option {
      cursor: pointer;
    }
    
    .my-dropdown.active {
      display: block;
    }

    .my-select {
      padding: 5px;
      border: 1px solid #ccc;
    }

          /* Styling for the entire alert section */
.alert-container {
  position: fixed;
  top: 120px;  /* Move to the top of the screen */
  right: 20px; /* Keep it aligned to the right */
  width: 400px; /* Adjust as per your layout */
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .alert-container {
    position: fixed;
    top: 120px;  /* Move to the top of the screen */
    right: 1px; /* Keep it aligned to the right */
    width: unset;
    text-align: center;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.status-container {
  position: fixed;
  bottom: 20px; /* Distance from the bottom of the screen */
  right: 20px;  /* Distance from the right side of the screen */
  z-index: 1000; /* Ensure it stays above other elements */
}

.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.connected {
  background-color: green;
}

.disconnected {
  background-color: red;
}

/* Styling for individual notification messages */
.notification-message {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Special class for revoke alert type */
.notification-message-revoke {
  background-color: #ffeeba;
  border: 1px solid #ffeeba;
  color: #856404;
}

.mobile-modal-content {
  background: #d49b3b;
  padding: 14px;
  border-radius: 8px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  color: #000;
}

/* Modal overlay */
.comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6); /* Slightly darker overlay */
  z-index: 1000;
}


/* Text area styling */
.comment-modal-content textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing only */
  outline: none;
  transition: border-color 0.3s ease;
}

.comment-modal-content textarea:focus {
  border-color: #cda45e; /* Border color on focus */
  box-shadow: 0 0 5px rgba(205, 164, 94, 0.3);
}

/* Button container */
.comment-modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

/* Buttons styling */
.comment-modal-buttons button {
  background: #090807;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid #cda45e;
  margin: 10px 0px 7px 1px;
  float: right;
}

.comment-modal-buttons button:first-child {
  background: #198754; /* Save button color */
}

.comment-modal-buttons button:first-child:hover {
  background: #b8944e;
  transform: translateY(-2px);
}

.comment-modal-buttons button:last-child {
  background: #000000; /* Close button color */
}

.comment-modal-buttons button:last-child:hover {
  background: #000000;
  transform: translateY(-2px);
}


.cust-login{
  border: 12px solid #1a1814;
  border-radius: 42px;
  background: #1a1814;
  width: fit-content;
  align-self: center;
}

@media only screen and (max-width: 991px) {

.cust-login{
  border: 12px solid #1a1814;
  border-radius: 42px;
  background: #1a1814;
  max-width: fit-content;
  width: 90%;
  align-self: center;
}
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.three-column-layout {
  position: fixed;
  top: 70px;      /* header height */
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  gap: 16px;

  padding: 10px;
  background: #000;

  overflow: hidden; /* 🔥 important */
}

.column {
  display: flex;
  flex-direction: column;

  height: 100%;        /* 🔥 required */
  min-height: 0;       /* 🔥 required */

  overflow-y: auto;    /* 🔥 scroll here */
  overflow-x: hidden;

  background: #060504;
  border-radius: 14px;
  padding: 10px;
}




.waiting-column {
 overflow: visible;
}
.accepted-column {
 overflow: visible;
}
.orders-column {
 overflow: visible;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.card {
  width: 100%;
}
@media (max-width: 768px) {
  .three-column-layout {
    grid-template-columns: 1fr;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .three-column-layout {
    grid-template-columns: 1fr 1fr;
  }

  .orders-column {
    grid-column: span 2;
  }
}
