

    <body class="printable-content" style="    color: black; text-align: -webkit-center;
    background: white;    padding: 5px;">
        <div class="ticket">
            <p class="centered">
                <a style="    font-size: x-large;
                font-weight: 900;">Cafe Kubera</a>
                <br>3rd line, Kanaka Durga nagar, 
                <br> Guru Nanak Colony, Vijayawada - 520007 </p> 
                <hr class = "hr">
                <div style="    justify-content: space-between;
                display: flex; flex-direction: column;">
                <div style="    display: flex;
                justify-content: space-between;">
                    <a>Date: 27/10/23</a>
                    <a>Table No: 10</a>
                </div>
                
                <div style="    display: flex;
                justify-content: space-between;">
                    <a>Token nos: 60, 61, 67, 74, 80</a>
                   
                </div>
         
                </div>
            <table style="width: inherit;">
                <thead>
                    <tr>
                        <th class="description">Item</th>
                        <th class="quantity">quantity</th>
                        <th class="price">price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="description">ARDUINO UNO R3</td>
                        <td class="price">$25.00</td>
                    </tr>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="description">ARDUINO UNO R3</td>
                        <td class="price">$25.00</td>
                    </tr>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="description">ARDUINO UNO R3</td>
                        <td class="price">$25.00</td>
                    </tr>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="description">ARDUINO UNO R3</td>
                        <td class="price">$25.00</td>
                    </tr>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="description">ARDUINO UNO R3</td>
                        <td class="price">$25.00</td>
                    </tr>
                    
                    <tr>
                        <td class="quantity">2.00</td>
                        <td class="description">JAVASCRIPT BOOK</td>
                        <td class="price">$10.00</td>
                    </tr>
                    <tr>
                        <td class="quantity">1.00</td>
                        <td class="description">STICKER PACK</td>
                        <td class="price">$10.00</td>
                    </tr>
                </tbody>
            </table>
            <hr class = "hr">
            <div style="    justify-content: space-between;
                display: flex; flex-direction: column;">
                <div style="    display: flex;
                justify-content: space-between;">
                    <a></a>
                    <a></a>
                    <a>Sub Total</a>
                    <a>823.41</a>
                </div>


                <div style="    display: flex;
                justify-content: space-between;">
                    <a></a>
                    <a></a>
                    <a>CGST 2.5%</a>
                    <a>20.59</a>
                </div>

                <div style="    display: flex;
                justify-content: space-between;">
                    <a></a>
                    <a></a>
                    <a>SGST 2.5%</a>
                    <a>20.59</a>
                </div>
                <hr class = "hr">

                <div style="    display: flex;
                justify-content: space-between;">
                    <a></a>
                    <a></a>
                    <a class = "grand-total"> Grand Total</a>
                    <a class = "grand-total">$ 865.00</a>
                </div>
                </div>

       
                <hr class = "hr">
            <p class="centered">Thank you visit again!</p>
             
        </div>

      
    </body>

    <button (click) = "printPage()">print</button>

 