<div class="main-container">

  <!--  below code is for popups -->
  
  <div  *ngIf="showModal" class="modal">
    <div class="modal-content">
      <button (click) = "closeModal()" style="width: 9em; background: #5c2120;
      align-self: center;     position: fixed;" class=" pop-up-btm">close</button>
   
      <div class="test" style=" height: 86vh;
      padding: 2em;
      
      overflow-y: auto;"
     >
        <div>
        
          <ul style="text-align: -webkit-center;">
                <a style=" display: block;
                max-width:230px;
                max-height:95px;
                width: auto;
                height: auto;"></a>
                <img [src]="imageUrl" alt="Responsive Image" class="imag-size">
                <span style="    position: relative;
    top: -55px;">
                <!-- <a>click here -></a>
                <button routerLink="/card" (click) = "closeModal()"  style="    width: 99px;
                max-width: fit-content;
                align-self: center;
                position: relative;
                margin: 10px 0 0 15px;
    border: 2px solid #cda45e;
    color: white;
    background: none;
    border-radius: 50px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    width: 9em;
                " >Card</button> -->
              </span>
          </ul>
        </div>


      </div>
  
    </div>
  </div>


    <!--  above code is for popups -->

    <div  *ngIf="showVersionModal" class="modal">

      
     
        
        <div class="modal-content"  *ngIf="reloadCount>=1">
          <div style="    background-color: #cda45e;
          color: #1a1814;
          padding: 15px;
          border: 1px solid #f2dede;
          border-radius: 4px;
          align-items: center;
          align-self:center;
          z-index: 99999999;
          width: fit-content;">
        close the browser tab and Re-scan
          </div>
            
          </div>
      </div>
   
  
<div class="container" #container style="z-index:999;max-height: 1em;">
    
  
 <!-- <div class="heart" *ngFor="let heart of hearts; let i = index" [style.left.px]="heart.left" [style.animation-duration.s]="heart.duration"></div> -->
  </div> 



    <app-nav-bar></app-nav-bar>
<!-- floating-bell.component.html -->
<div class="floating-bell" (click)="openFloatingBellPopup()">
  <i class="fa fa-user" style="    position: relative;
  left: 0px;
  font-size: 33px;"></i>
 
<span class="call-waiter-box">
  Call Waiter
</span>
</div>


<!-- Popup Content -->
<div class="notification-popup" *ngIf="isPopupOpen">
  <div class="popup-container">
    <h3 style="font-size: 16px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #000;">Choose Floor & Table to call waiter</h3>
    
    <!-- Dropdown for Floor Selection -->
    <label class="popup-label" for="floor">Floor:</label>
    <select class="popup-select" id="floor" [(ngModel)]="selectedFloor">
      <option *ngFor="let floor of floors" [value]="floor">{{ floor }}</option>
    </select>

    <!-- Input for Table Number -->
    <label class="popup-label" for="tableNumber">Table Number:</label>
    <input class="popup-input" id="tableNumber" type="number" [(ngModel)]="tableNumber"  />

    <!-- Input for message  -->
    <label class="popup-label" for="message">message(if needed):</label>
    <input class="popup-input" id="message" type="text" [(ngModel)]="message"  />
    

    <!-- Button section -->
    <div class="popup-button-group">
      <button class="popup-btn" [disabled]="!selectedFloor || !tableNumber" (click)="submitDetails()">Submit</button>
      <button class="popup-btn" (click)="closePopup()">Close</button>
    </div>
  </div>
</div>
    <router-outlet></router-outlet>

    <app-footer></app-footer>



  </div>

